@model BettingWebbApp.Domain.Entities.Betting

<div class="well">

    <h3><strong>@Model.Name</strong></h3>
    <h5>@Model.Odd</h5>
    <span class="pull-right label label-primary">@Model.Amount.ToString("c")</span>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x=> x.BettingId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add Odds To Cart" />

        </div>
    }
    @Model.Description

</div>